<br>
<br>
<br>
<p class="h5 text-center mb-4">Compare Rates</p>
<div id="compare"> 
    <div class="container flex-center">
    <form (ngSubmit)="onClickGetRates(ziporstate)" [formGroup]="compareForm">
        <div class="row">
            <div class="col-md-6">
                <div class="md-form">  
                    <label class="" for="ziporstate">Zip or State</label>
                    <input mdbActive type="text" formControlName="ziporstate">
                </div>
            </div>         
            <div class="col-md-6">
                <button type="submit" class="btn btn-outline-primary btn-rounded waves-effect" mdbRippleRadius>Get Rates</button>
            </div>
        </div>
    </form>
    </div>
</div>
<div class = "container flex-center">
    <div class="row">
        <div *ngFor="let rate of rates | async">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                       <p class="text-white">30 Year Fixed Conforming</p> 
                    </div>
                    <div class="card-body">
                        <span>
                            {{ rate.createdAt | date:'shortTime'}}
                            {{ rate.createdAt | date:'shortDate'}}
                        </span>
                        <h3 class="card-title">
                            APR: {{ rate.ThirtyYearFixedConforming.apr | number :'1.3'}}%
                            ${{ (200 * rate.ThirtyYearFixedConforming.apr) | number :'1.2'}}/mo
                        </h3>
                        <p class="card-text">
                            {{ rate.ThirtyYearFixedConforming.rate | number :'1.3'}}% Rate 
                            At {{ rate.ThirtyYearFixedConforming.points | number }} pts
                            ${{ rate.ThirtyYearFixedConforming.closing | number }} Fees
                            <ng-container *ngIf="users | selectUser:rate.userId | async as user">
                                <div>
                                    <img src="{{ user.photoURL }}" height="50" class="rounded-circle" alt="avatar">
                                </div>
                            </ng-container>
                            <ng-container *ngIf="profiles | selectProfile:rate.userId | async as profile">
                                <div>
                                    {{profile.firstName}} {{profile.lastName}}, {{profile.company}} NMLS: {{profile.nmls}}
                                </div>
                            </ng-container>
                        </p>
                        <div class="form-row text-center">
                            <div class="col-12">
                                <button class="btn btn-outline-primary btn-rounded waves-effect" mdbRippleRadius (click)="onClickApplyNow(rate.userId, 'ThirtyYearFixedConforming')">Apply Now</button>
                            </div>
                         </div>                                                                                
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <p class="text-white">
                            30 Year Fixed Jumbo
                        </p>
                    </div>
                    <div class="card-body">
                        <span>
                            {{ rate.createdAt | date:'shortTime'}}
                            {{ rate.createdAt | date:'shortDate'}}
                        </span>
                        <h3 class="card-title">
                            APR: {{ rate.ThirtyYearFixedJumbo.apr | number :'1.3'}}%
                            ${{ (200 * rate.ThirtyYearFixedJumbo.apr) | number :'1.2'}}/mo
                        </h3>
                        <p class="card-text">
                            {{ rate.ThirtyYearFixedJumbo.rate | number :'1.3'}}% Rate
                            At {{ rate.ThirtyYearFixedJumbo.points | number }} pts
                            ${{ rate.ThirtyYearFixedJumbo.closing | number }} Fees
                            <ng-container *ngIf="users | selectUser:rate.userId | async as user">
                                <div>
                                    <img src="{{ user.photoURL }}" height="50" class="rounded-circle" alt="avatar">
                                </div>
                            </ng-container>
                            <ng-container *ngIf="profiles | selectProfile:rate.userId | async as profile">
                                <div>
                                     {{profile.firstName}} {{profile.lastName}}, {{profile.company}} NMLS: {{profile.nmls}}
                                </div>
                            </ng-container>
                        </p>
                        <div class="form-row text-center">
                            <div class="col-12">
                                <button class="btn btn-outline-primary btn-rounded waves-effect" mdbRippleRadius (click)="onClickApplyNow(rate.userId, 'ThirtyYearFixedJumbo')">Apply Now</button>
                            </div>
                        </div>                                                                                
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <p class="text-white">
                            15 Year Fixed Conforming
                        </p>
                    </div>
                    <div class="card-body">
                        <span>
                            {{ rate.createdAt | date:'shortTime'}}
                            {{ rate.createdAt | date:'shortDate'}}
                        </span>
                        <h3 class="card-title">
                            APR: {{ rate.FifteenYearFixedConforming.apr | number :'1.3'}}%
                            ${{ (200 * rate.FifteenYearFixedConforming.apr) | number :'1.2'}}/mo
                        </h3>
                        <p class="card-text">
                            {{ rate.FifteenYearFixedConforming.rate | number :'1.3'}}% Rate
                            At {{ rate.FifteenYearFixedConforming.points | number }} pts
                            ${{ rate.FifteenYearFixedConforming.closing | number }} Fees
                            <ng-container *ngIf="users | selectUser:rate.userId | async as user">
                                <div>
                                    <img src="{{ user.photoURL }}" height="50" class="rounded-circle" alt="avatar">
                                </div>
                            </ng-container>
                            <ng-container *ngIf="profiles | selectProfile:rate.userId | async as profile">
                                <div>
                                    {{profile.firstName}} {{profile.lastName}}, {{profile.company}} NMLS: {{profile.nmls}}
                                </div>
                            </ng-container>
                        </p>
                        <div class="form-row text-center">
                            <div class="col-12">
                                <button class="btn btn-outline-primary btn-rounded waves-effect" mdbRippleRadius (click)="onClickApplyNow(rate.userId, 'FifteenYearFixedConforming')">Apply Now</button>
                            </div>
                        </div>                                                                                
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <p class="text-white">
                            15 Year Fixed Jumbo
                        </p>
                    </div>
                    <div class="card-body">
                        <span>
                            {{ rate.createdAt | date:'shortTime'}}
                            {{ rate.createdAt | date:'shortDate'}}
                        </span>
                        <h3 class="card-title">
                            APR: {{ rate.FifteenYearFixedJumbo.apr | number :'1.3'}}%
                            ${{ (200 * rate.FifteenYearFixedJumbo.apr) | number :'1.2'}}/mo
                        </h3>
                        <p class="card-text">
                            {{ rate.FifteenYearFixedJumbo.rate | number :'1.3'}}% Rate
                            At {{ rate.FifteenYearFixedJumbo.points | number }} pts
                            ${{ rate.FifteenYearFixedJumbo.closing | number }} Fees
                            <ng-container *ngIf="users | selectUser:rate.userId | async as user">
                                <div>
                                    <img src="{{ user.photoURL }}" height="50" class="rounded-circle" alt="avatar">
                                </div>
                            </ng-container>
                            <ng-container *ngIf="profiles | selectProfile:rate.userId | async as profile">
                                <div>
                                    {{profile.firstName}} {{profile.lastName}}, {{profile.company}} NMLS: {{profile.nmls}}
                                </div>
                            </ng-container>
                        </p>
                        <div class="form-row text-center">
                            <div class="col-12">
                                <button class="btn btn-outline-primary btn-rounded waves-effect" mdbRippleRadius (click)="onClickApplyNow(rate.userId, 'FifteenYearFixedJumbo')">Apply Now</button>
                            </div>
                        </div>                                                                                                        
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <p class="text-white">
                            5-1 Year ARM Conforming
                        </p>
                    </div>
                    <div class="card-body">
                        <span>
                            {{ rate.createdAt | date:'shortTime'}}
                            {{ rate.createdAt | date:'shortDate'}}
                        </span>
                        <h3 class="card-title">
                            APR: {{ rate.FiveToOneYearARMConforming.apr | number :'1.3'}}%
                            ${{ (200 * rate.FiveToOneYearARMConforming.apr) | number :'1.2'}}/mo
                        </h3>
                        <p class="card-text">
                            {{ rate.FiveToOneYearARMConforming.rate | number :'1.3'}}% Rate
                            At {{ rate.FiveToOneYearARMConforming.points | number }} pts
                            ${{ rate.FiveToOneYearARMConforming.closing | number }} Fees
                            <ng-container *ngIf="users | selectUser:rate.userId | async as user">
                                <div>
                                    <img src="{{ user.photoURL }}" height="50" class="rounded-circle" alt="avatar">
                                </div>
                            </ng-container>
                            <ng-container *ngIf="profiles | selectProfile:rate.userId | async as profile">
                                <div>
                                    {{profile.firstName}} {{profile.lastName}}, {{profile.company}} NMLS: {{profile.nmls}}
                                </div>
                            </ng-container>
                        </p>
                        <div class="form-row text-center">
                            <div class="col-12">
                                <button class="btn btn-outline-primary btn-rounded waves-effect" mdbRippleRadius (click)="onClickApplyNow(rate.userId, 'FiveToOneYearARMConforming')">Apply Now</button>
                            </div>
                        </div>                                                                                                        
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <p class="text-white">
                            5-1 Year ARM Jumbo
                        </p>
                    </div>
                    <div class="card-body">
                        <span>
                            {{ rate.createdAt | date:'shortTime'}}
                            {{ rate.createdAt | date:'shortDate'}}
                        </span>
                        <h3 class="card-title">
                            APR: {{ rate.FiveToOneYearARMJumbo.apr | number :'1.3'}}%
                            ${{ (200 * rate.FiveToOneYearARMJumbo.apr) | number :'1.2'}}/mo
                        </h3>
                        <p class="card-text">
                            {{ rate.FiveToOneYearARMJumbo.rate | number :'1.3'}}% Rate
                            At {{ rate.FiveToOneYearARMJumbo.points | number }} pts
                            ${{ rate.FiveToOneYearARMJumbo.closing | number }} Fees
                            <ng-container *ngIf="users | selectUser:rate.userId | async as user">
                                <div>
                                    <img src="{{ user.photoURL }}" height="50" class="rounded-circle" alt="avatar">
                                </div>
                            </ng-container>
                            <ng-container *ngIf="profiles | selectProfile:rate.userId | async as profile">
                                <div>
                                    {{profile.firstName}} {{profile.lastName}}, {{profile.company}} NMLS: {{profile.nmls}}
                                </div>
                            </ng-container>
                        </p>
                        <div class="form-row text-center">
                            <div class="col-12">
                                <button class="btn btn-outline-primary btn-rounded waves-effect" mdbRippleRadius (click)="onClickApplyNow(rate.userId, 'FiveToOneYearARMJumbo')">Apply Now</button>
                            </div>
                        </div>                                                                                                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
