<br>
<br>
<br>
<p class="h5 text-center mb-4">Compare Rates</p>
<div id="compare"> 
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroupMD">Zip Code or State</label>
                <div class="md-form input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon"></span>
                    </div>
                    <input type="text" class="form-control pl-0 rounded-0" id="inlineFormInputGroupMD" placeholder="Enter Zip Code or State">
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary btn-rounded mb-0">Check Actual Rates</button>
            </div>
        </div>
    </form>
</div>
<div class = "container">
    <div *ngFor="let rate of rates | async">
        <b>Product: 30 Year Fixed Conforming</b><br>
        <b>Date: {{ rate.createdAt | date:'full'}}</b><br>
        <b>APR: {{ rate.ThirtyYearFixedConforming.apr | number :'1.3'}}%</b>
        <b>Rate: {{ rate.ThirtyYearFixedConforming.rate | number :'1.3'}}%</b>
        <b>Points: {{ rate.ThirtyYearFixedConforming.points | number }}</b>
        <b>Fees: ${{ rate.ThirtyYearFixedConforming.closing | number }}</b><br>
        <br>
        <b>Product: 30 Year Fixed Jumbo</b><br>
        <b>Date: {{ rate.createdAt | date:'full'}}</b><br>
        <b>APR: {{ rate.ThirtyYearFixedJumbo.apr | number :'1.3'}}%</b>
        <b>Rate: {{ rate.ThirtyYearFixedJumbo.rate | number :'1.3'}}%</b>
        <b>Points: {{ rate.ThirtyYearFixedJumbo.points | number }}</b>
        <b>Fees: ${{ rate.ThirtyYearFixedJumbo.closing | number }}</b><br>
        <br>
        <b>Product: 15 Year Fixed Conforming</b><br>
        <b>Date: {{ rate.createdAt | date:'full'}}</b><br>
        <b>APR: {{ rate.FifteenYearFixedConforming.apr | number :'1.3'}}%</b>
        <b>Rate: {{ rate.FifteenYearFixedConforming.rate | number :'1.3'}}%</b>
        <b>Points: {{ rate.FifteenYearFixedConforming.points | number }}</b>
        <b>Fees: ${{ rate.FifteenYearFixedConforming.closing | number }}</b><br>
        <br>
        <b>Product: 15 Year Fixed Jumbo</b><br>
        <b>Date: {{ rate.createdAt | date:'full'}}</b><br>
        <b>APR: {{ rate.FifteenYearFixedJumbo.apr | number :'1.3'}}%</b>
        <b>Rate: {{ rate.FifteenYearFixedJumbo.rate | number :'1.3'}}%</b>
        <b>Points: {{ rate.FifteenYearFixedJumbo.points | number }}</b>
        <b>Fees: ${{ rate.FifteenYearFixedJumbo.closing | number }}</b><br>
        <br>
        <b>Product: 5-1 Year ARM Conforming</b><br>
        <b>Date: {{ rate.createdAt | date:'full'}}</b><br>
        <b>APR: {{ rate.FiveToOneYearARMConforming.apr | number :'1.3'}}%</b>
        <b>Rate: {{ rate.FiveToOneYearARMConforming.rate | number :'1.3'}}%</b>
        <b>Points: {{ rate.FiveToOneYearARMConforming.points | number }}</b>
        <b>Fees: ${{ rate.FiveToOneYearARMConforming.closing | number }}</b><br>
        <br>
        <b>Product: 5-1 Year ARM Jumbo</b><br>
        <b>Date: {{ rate.createdAt | date:'full'}}</b><br>
        <b>APR: {{ rate.FiveToOneYearARMJumbo.apr | number :'1.3'}}%</b>
        <b>Rate: {{ rate.FiveToOneYearARMJumbo.rate | number :'1.3'}}%</b>
        <b>Points: {{ rate.FiveToOneYearARMJumbo.points | number }}</b>
        <b>Fees: ${{ rate.FiveToOneYearARMJumbo.closing | number }}</b><br>
        <br>
    </div>
</div>
