<br/>
<br/>
<br/>
<br/>
<div class="container">
        
<ng-container *ngIf="authService.user | async as user">
    <form [formGroup]="profileForm" *ngIf="!submitted" (ngSubmit)="setProfile(user)">
        <p class="h5 text-center mb-4">Profile</p>
        <div class="md-form">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName"  mdbActive>
        </div>
        <div class="md-form">
           <label for="lastName">Last Name</label>
           <input type="text" formControlName="lastName" mdbActive>
        </div>
        <div class="md-form">
           <label for="address1">Address 1</label>
           <input type="text" formControlName="address1" mdbActive>
        </div>
        <div class="md-form">
           <label for="address2">Address 2</label>
           <input type="text" formControlName="address2" mdbActive>
        </div>
        <div class="md-form">
           <label for="city">City</label>
           <input type="text" formControlName="city" mdbActive>
        </div>
        <div class="md-form">
           <label for="state">State</label>
           <input type="text" formControlName="state" mdbActive>
        </div>
        <div class="md-form">
           <label for="zip">Zip</label>
           <input type="text" formControlName="zip" mdbActive>
        </div>
        <div class="md-form">
            <label for="company">Company</label>
            <input type="text" formControlName="company" mdbActive>
        </div>
        <div class="md-form">
            <label for="website">Website</label>
            <input type="text" formControlName="website" mdbActive>
        </div>
        <div class="md-form">
            <label for="nmls">nmls</label>
           <input type="text" formControlName="nmls" mdbActive>
        </div>
        <div>
        </div>
        <div class="row">
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="al" id="al">
                <label for="al">Alabama</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ak" id="ak">
                <label for="ak">Alaska</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="az" id="az">
                <label for="az">Arizona </label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ar" id="ar">
                <label for="ar">Arkansas</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ca" id="ca">
                <label for="ca">California</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="co" id="co">
                <label for="co">Colorado</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ct" id="ct">
                <label for="ct">Connecticut</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="de" id="de">
                <label for="de">Delaware</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="fl" id="fl">
                <label for="fl">Florida</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ga" id="ga">
                <label for="ga">Georgia</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="hi" id="hi">
                <label for="hi">Hawaii</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="id" id="id">
                <label for="id">Idaho</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="il" id="il">
                <label for="il">Illinois</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="in" id="in">
                <label for="in">Indiana</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ia" id="ia">
                <label for="ia">Iowa</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ks" id="ks">
                <label for="ks">Kansas</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ky" id="ky">
                <label for="ky">Kentucky</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="la" id="la">
                <label for="la">Louisiana</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="me" id="me">
                <label for="me">Maine</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="md" id="md">
                <label for="md">Maryland</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ma" id="ma">
                <label for="ma">Massachusetts</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="mi" id="mi">
                <label for="mi">Michigan</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="mn" id="nm">
                <label for="mn">Minnesota</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ms" id="ms">
                <label for="ms">Mississippi</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="mo" id="mo">
                <label for="mo">Missouri</label>
            </div>
        </div>
        <div class="row">    
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="mt" id="mt">
                <label for="mt">Montana</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ne" id="ne">
                <label for="ne">Nebraska</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="nv" id="nv">
                <label for="nv">Nevada</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="nh" id="nh">
                <label for="nh">New Hampshire</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="nj" id="nj">
                <label for="nj">New Jersey</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="nm" id="nm">
                <label for="nm">New Mexico</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ny" id="ny">
                <label for="ny">New York</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ct" id="ct">
                <label for="NC">North Carolina</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="nd" id="nd">
                <label for="nd">North Dakota</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="oh" id="oh">
                <label for="oh">Ohio</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ok" id="ok">
                <label for="ok">Oklahoma</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="or" id="or">
                <label for="or">Oregon</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="pa" id="pa">
                <label for="pa">Pennsylvania</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ri" id="ri">
                <label for="ri">Rhode Island</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="sc" id="sc">
                <label for="sc">South Carolina</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="sd" id="sd">
                <label for="sd">South Dakota</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="tn" id="tn">
                <label for="tn">Tennessee</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="tx" id="tx">
                <label for="tx">Texas</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="ut" id="ut">
                <label for="ut">Utah</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="vt" id="vt">
                <label for="vt">Vermont</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="va" id="va">
                <label for="va">Virginia</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="wa" id="wa">
                <label for="wa">Washington</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="wv" id="wv">
                <label for="wv">West Virginia</label>
            </div>
            <div class="col">
                <input type="checkbox" class="filled-in" formControlName="wi" id="wi">
                <label for="wi">Wisconsin</label>
            </div>
            <div class="col">
            <input type="checkbox" class="filled-in" formControlName="wy" id="wy">
                <label for="wy">Wyoming</label>
            </div>
        </div>
        <div class="result" *ngIf="uploadURL | async as url; else displayOldAvatar">
            <img src="{{ url }}" height="35" class="rounded-circle" alt="avatar">
            <p>Photo uploaded successfully</p>
        </div>
        <ng-template #displayOldAvatar>
            <img src="{{ user.photoURL }}" height="35" class="rounded-circle" alt="avatar">
        </ng-template>
        <div class="text-center">
            <div class="file-field">
                <div class="btn btn-primary btn-sm waves-light" mdbRippleRadius>
                    <span>Choose photo file</span>
                    <label for="uploadURL"></label>
                    <input type="file" mdbFileSelect (change)="upload($event)" accept=".png,.jpg" mdbActive>
                </div> 
            </div>
            <mdb-progressbar value="0" min="0" max="100" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [value]="(uploadProgress | async)"></mdb-progressbar>
            <section class="control-bar" *ngIf="uploadState | async; let state">     
                <button class="btn btn-primary waves-light" mdbRippleRadius (click)="task.pause()" [disabled]="state === 'paused'"><i class="fa fa-pause-circle"></i> Pause</button>
                <button class="btn btn-primary waves-light" mdbRippleRadius (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')"><i class="fa fa-ban"></i> Cancel</button>
                <button class="btn btn-primary waves-light" mdbRippleRadius (click)="task.resume()" [disabled]="state === 'running'"><i class="fa fa-play-circle"></i> Resume</button>
            </section>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-primary btn-rounded waves-effect" [disabled]="submitted">Submit</button>
        </div>
    </form>
    <div *ngIf="submitted">
    <p>Congratulations, Thank you for completing your profile! We will approve your account within twenty-four business hours.</p>      
    </div>
    <div *ngIf="submitted" class="text-center">
        <button type="button" class="btn btn-outline-primary btn-rounded" mdbRippleRadius (click)="onContinue()">Continue</button>
    </div>
</ng-container>
</div>