$introBg: "http://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img%20(11).jpg";

.intro-2 {
    background: url($introBg) no-repeat center center;
    background-size: cover;
}

.card {
    background-color: rgba(229, 228, 255, 0.2);
}

.md-form label {
    color: #ffffff;
}

.intro {
    min-height: 100vh;
    position: relative;
}