<div *ngIf="auth.user | async; then authenticated else guest">
    <!-- template will replace this div -->
</div>

<ng-template #guest>
    <div>
        <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-blue scrolling-navbar" [containerInside]="false">
            <logo>
                <a class="logo navbar-brand" href="#">
                    <img src="./assets/img/cmr.png" height="50" alt="CMR logo">
                    <strong>CMR</strong>
                </a>
            </logo>
            <links>
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#compare" data-offset="100">Compare</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#featured" data-offset="100">Featured</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact" data-offset="100">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item waves-light" mdbRippleRadius>
                        <a href="/login" class="nav-link">Login<i class="fa fa-sign-in"></i></a>
                    </li>
                    <li class="nav-item waves-light" mdbRippleRadius>
                        <a href="/register" class="nav-link">Register<i class="fa fa-edit"></i></a>
                    </li>
                </ul>
            </links>
        </mdb-navbar>
    </div>        
</ng-template>

<ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
        <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-blue scrolling-navbar" [containerInside]="false">
            <logo>
                <a class="logo navbar-brand" href="#">
                    <img src="./assets/img/cmr.png" height="50" alt="CMR logo">
                    <strong>CMR</strong>
                </a>
            </logo>
            <links>
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#compare" data-offset="100">Compare</a>
                    </li>    
                    <li class="nav-item">
                        <a class="nav-link" href="#featured" data-offset="100">Featured</a>
                    </li>
                    <li class="nav-item">
                        <a href="/rates" class="nav-link" data-offset="100">Rates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact" data-offset="100">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item dropdown btn-group" dropdown>
                        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                            <img src="{{ user.photoURL }}" height="35" class="rounded-circle" alt="avatar">
                            <span class="badge pill badge-secondary">{{ user.email }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                            <a class="dropdown-item" href="/profile">Profile<i class="fa fa-user"></i></a> 
                            <a class="dropdown-item" (click)="onClickLogout()">Logout<i class="fa fa-sign-out"></i></a>
                        </div>
                    </li>
                </ul>
            </links>
        </mdb-navbar>        
    </div>
</ng-template>

