<!--Double navigation-->
<header>

    <!-- Sidebar navigation -->
    <mdb-sidenav #sidenav class=" fixed" [fixed]="true">
        <!-- Logo -->
        <li>
            <div class="logo-wrapper waves-light">
                <a href="#">
                    <img src="../../../assets/img/angular-mdb.png" class="img-fluid flex-center">
                </a>
            </div>
        </li>
        <!--/. Logo -->
        <!--Social-->
        <li>
            <ul class="social">
                <li>
                    <a class="icons-sm fb-ic">
                        <i class="fa fa-facebook"> </i>
                    </a>
                </li>
                <li>
                    <a class="icons-sm pin-ic">
                        <i class="fa fa-pinterest"> </i>
                    </a>
                </li>
                <li>
                    <a class="icons-sm gplus-ic">
                        <i class="fa fa-google-plus"> </i>
                    </a>
                </li>
                <li>
                    <a class="icons-sm tw-ic">
                        <i class="fa fa-twitter"> </i>
                    </a>
                </li>
            </ul>
        </li>
        <!--/Social-->
        <!--Search Form-->
        <li>
            <form class="search-form" role="search">
                <div class="form-group waves-light" mdbRippleRadius>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </li>
        <!--/.Search Form-->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <mdb-squeezebox [multiple]="false" aria-multiselectable="false">

                    <mdb-item>
                        <mdb-item-head mdbRippleRadius>
                            <i class="fa fa-tachometer"></i> Dashboards
                        </mdb-item-head>
                        <mdb-item-body>
                            <ul>
                                <li>
                                    <a routerLink="dashboards/v1" class="waves-effect" mdbRippleRadius>Version 1</a>
                                </li>
                                <li>
                                    <a routerLink="dashboards/v2" class="waves-effect" mdbRippleRadius>Version 2</a>
                                </li>
                                <li>
                                    <a routerLink="dashboards/v3" class="waves-effect" mdbRippleRadius>Version 3</a>
                                </li>
                                <li>
                                    <a routerLink="dashboards/v4" class="waves-effect" mdbRippleRadius>Version 4</a>
                                </li>
                                <li>
                                    <a routerLink="dashboards/v5" class="waves-effect" mdbRippleRadius>Version 5</a>
                                </li>
                            </ul>
                        </mdb-item-body>
                    </mdb-item>
                    <mdb-item>
                        <mdb-item-head mdbRippleRadius>
                            <i class="fa fa-photo"></i> Pages
                        </mdb-item-head>
                        <mdb-item-body>
                            <ul>
                                <li>
                                    <a routerLink="pages/login" class="waves-effect" mdbRippleRadius>Login</a>
                                </li>
                                <li>
                                    <a routerLink="pages/register" class="waves-effect" mdbRippleRadius>Register</a>
                                </li>
                                <li>
                                    <a routerLink="pages/pricing" class="waves-effect" mdbRippleRadius>Pricing</a>
                                </li>
                                <li>
                                    <a routerLink="pages/lock" class="waves-effect" mdbRippleRadius>Lock screen</a>
                                </li>
                                <li>
                                    <a routerLink="pages/single-post" class="waves-effect" mdbRippleRadius>Single post</a>
                                </li>
                                <li>
                                    <a routerLink="pages/post-listing" class="waves-effect" mdbRippleRadius>Post listing</a>
                                </li>
                                <li>
                                    <a routerLink="pages/customers" class="waves-effect" mdbRippleRadius>Customers</a>
                                </li>
                            </ul>
                        </mdb-item-body>
                    </mdb-item>
                    <mdb-item>
                        <mdb-item-head mdbRippleRadius>
                            <i class="fa fa-user"></i> Profiles
                        </mdb-item-head>
                        <mdb-item-body>
                            <ul>
                                <li>
                                    <a routerLink="profiles/profile1" class="waves-effect" mdbRippleRadius>Version 1</a>
                                </li>
                                <li>
                                    <a routerLink="profiles/profile2" class="waves-effect" mdbRippleRadius>Version 2</a>
                                </li>
                                <li>
                                    <a routerLink="profiles/profile3" class="waves-effect" mdbRippleRadius>Version 3</a>
                                </li>
                            </ul>
                        </mdb-item-body>
                    </mdb-item>
                    <mdb-item>
                        <mdb-item-head mdbRippleRadius>
                            <i class="fa fa-css3"></i> CSS
                        </mdb-item-head>
                        <mdb-item-body>
                            <ul>
                                <li>
                                    <a routerLink="css/grid" class="waves-effect" mdbRippleRadius>Grid system</a>
                                </li>
                                <li>
                                    <a routerLink="css/utilities" class="waves-effect" mdbRippleRadius>Utilities</a>
                                </li>
                                <li>
                                    <a routerLink="css/icons" class="waves-effect" mdbRippleRadius>Icons</a>
                                </li>
                                <li>
                                    <a routerLink="css/images" class="waves-effect" mdbRippleRadius>Images</a>
                                </li>
                                <li>
                                    <a routerLink="css/typography" class="waves-effect" mdbRippleRadius>Typography</a>
                                </li>
                                <li>
                                    <a routerLink="css/colors" class="waves-effect" mdbRippleRadius>Colors</a>
                                </li>
                                <li>
                                    <a routerLink="css/shadow" class="waves-effect" mdbRippleRadius>Shadow</a>
                                </li>
                            </ul>
                        </mdb-item-body>
                    </mdb-item>
                    <mdb-item>
                        <mdb-item-head mdbRippleRadius>
                            <i class="fa fa-th"></i> Components
                        </mdb-item-head>
                        <mdb-item-body>
                            <ul>
                                <li>
                                    <a routerLink="components/buttons" class="waves-effect" mdbRippleRadius>Buttons</a>
                                </li>
                                <li>
                                    <a routerLink="components/cards" class="waves-effect" mdbRippleRadius>Cards</a>
                                </li>
                                <li>
                                    <a routerLink="components/panels" class="waves-effect" mdbRippleRadius>Panels</a>
                                </li>
                                <li>
                                    <a routerLink="components/lists" class="waves-effect" mdbRippleRadius>List groups</a>
                                </li>
                                <li>
                                    <a routerLink="components/pagination" class="waves-effect" mdbRippleRadius>Pagination</a>
                                </li>
                                <li>
                                    <a routerLink="components/progress-bars" class="waves-effect" mdbRippleRadius>Progress bars</a>
                                </li>
                                <li>
                                    <a routerLink="components/tabs" class="waves-effect" mdbRippleRadius>Tabs & pills</a>
                                </li>
                                <li>
                                    <a routerLink="components/tags" class="waves-effect" mdbRippleRadius>Tags, labels & badges</a>
                                </li>
                                <li>
                                    <a routerLink="components/date-picker" class="waves-effect" mdbRippleRadius>Date picker</a>
                                </li>
                                <li>
                                    <a routerLink="components/time-picker" class="waves-effect" mdbRippleRadius>Time picker</a>
                                </li>
                                <li>
                                    <a routerLink="components/tooltips" class="waves-effect" mdbRippleRadius>Tooltips</a>
                                </li>
                                <li>
                                    <a routerLink="components/popovers" class="waves-effect" mdbRippleRadius>Popovers</a>
                                </li>
                            </ul>
                        </mdb-item-body>
                    </mdb-item>
                    <mdb-item>
                        <mdb-item-head mdbRippleRadius>
                            <i class="fa fa-check-square-o"></i> Forms
                        </mdb-item-head>
                        <mdb-item-body>
                            <ul>
                                <li>
                                    <a routerLink="forms/form1" class="waves-effect" mdbRippleRadius>Basic</a>
                                </li>
                                <li>
                                    <a routerLink="forms/form2" class="waves-effect" mdbRippleRadius>Extended</a>
                                </li>
                                <li>
                                    <a routerLink="forms/form3" class="waves-effect" mdbRippleRadius>Validation</a>
                                </li>
                            </ul>
                        </mdb-item-body>
                    </mdb-item>

                    <mdb-item>
                        <mdb-item-head mdbRippleRadius>
                            <i class="fa fa-table"></i> Tables
                        </mdb-item-head>
                        <mdb-item-body>
                            <ul>
                                <li>
                                    <a routerLink="tables/table1" class="waves-effect" mdbRippleRadius>Basic</a>
                                </li>
                                <li>
                                    <a routerLink="tables/table2" class="waves-effect" mdbRippleRadius>Extended</a>
                                </li>
                            </ul>
                        </mdb-item-body>
                    </mdb-item>

                    <mdb-item>
                        <mdb-item-head mdbRippleRadius>
                            <i class="fa fa-map"></i> Maps
                        </mdb-item-head>
                        <mdb-item-body>
                            <ul>
                                <li>
                                    <a routerLink="maps/map1" class="waves-effect" mdbRippleRadius>Basic</a>
                                </li>
                                <li>
                                    <a routerLink="maps/map2" class="waves-effect" mdbRippleRadius>Fullscreen</a>
                                </li>
                                <li>
                                    <a routerLink="maps/map3" class="waves-effect" mdbRippleRadius>Markers</a>
                                </li>
                            </ul>
                        </mdb-item-body>
                    </mdb-item>
                    <mdb-item>
                        <mdb-item-head mdbRippleRadius>
                            <i class="fa fa-pie-chart"></i> Charts
                        </mdb-item-head>
                        <mdb-item-body>
                            <ul>
                                <li>
                                    <a routerLink="charts/chart1" class="waves-effect" mdbRippleRadius>Version 1</a>
                                </li>
                                <li>
                                    <a routerLink="charts/chart2" class="waves-effect" mdbRippleRadius>Version 2</a>
                                </li>
                                <li>
                                    <a routerLink="charts/chart3" class="waves-effect" mdbRippleRadius>Version 3</a>
                                </li>
                            </ul>
                        </mdb-item-body>
                    </mdb-item>
                    <mdb-item>
                        <mdb-item-head mdbRippleRadius>
                            <i class="fa fa-wrench"></i> Settings
                        </mdb-item-head>
                        <mdb-item-body>
                            <ul>
                                <li>
                                    <a routerLink="settings/settings1" class="waves-effect" mdbRippleRadius>Version 1</a>
                                </li>
                                <li>
                                    <a routerLink="settings/settings2" class="waves-effect" mdbRippleRadius>Version 2</a>
                                </li>
                                <li>
                                    <a routerLink="settings/settings3" class="waves-effect" mdbRippleRadius>Version 3</a>
                                </li>
                            </ul>
                        </mdb-item-body>
                    </mdb-item>
                    <mdb-item class="no-collase">
                        <mdb-item-head mdbRippleRadius routerLink="alerts">
                            <i class="fa fa-bell-o"></i> Alerts
                        </mdb-item-head>
                        <mdb-item-body></mdb-item-body>
                    </mdb-item>
                    <mdb-item class="no-collase">
                        <mdb-item-head mdbRippleRadius routerLink="modals">
                            <i class="fa fa-bolt"></i> Modals
                        </mdb-item-head>
                        <mdb-item-body></mdb-item-body>
                    </mdb-item>
                    <mdb-item class="no-collase">
                        <mdb-item-head mdbRippleRadius routerLink="calendar">
                            <i class="fa fa-calendar"></i> Calendar
                        </mdb-item-head>
                        <mdb-item-head mdbRippleRadius routerLink="help">
                            <i class="fa fa-compass"></i> Help
                        </mdb-item-head>
                        <mdb-item-body></mdb-item-body>
                    </mdb-item>

                </mdb-squeezebox>
            </ul>
        </li>
        <!--/. Side navigation links -->
    </mdb-sidenav>
    <!--/. Sidebar navigation -->



      <!-- Navbar -->
      <mdb-navbar SideClass="navbar navbar-expand-md scrolling-navbar double-nav" [containerInside]="false">
        <!-- SideNav slide-out button -->
        <div class="float-xs-left">
            <a (click)="sidenav.show()" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <!--/. SideNav slide-out button -->

        <!-- Breadcrumb-->
        <div class="breadcrumb-dn mr-auto">
            <p>Material Design for Bootstrap</p>
        </div>
        <!--/. Breadcrumb-->
        
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item">
            <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block">Support</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Account</span></a>
        </li>
        <li class="nav-item dropdown btn-group" dropdown>
            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                Dropdown
            </a>
            <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        </ul>

    </mdb-navbar>
        <!--/. Navbar -->

</header>
<!--/.Double navigation-->