<div class="row">
  <!--Grid column-->
  <div class="col-lg-4 col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h4 class="h4-responsive">Date picker</h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body ">
        <mdb-date-picker #datePicker name="mydate" [placeholder]="'Selected date'" required></mdb-date-picker>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
  <!--Grid column-->
  <!--Grid column-->
  <div class="col-lg-4 col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h4 class="h4-responsive">Time picker light</h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body ">
        <mdb-time-picker [twelvehour]="true" [darktheme]="false" [placeholder]="'Selected time'" [label]="'Light
            version, 12hours'" [showClock]="false"></mdb-time-picker>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
  <!--Grid column-->
  <!--Grid column-->
  <div class="col-lg-4 col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h4 class="h4-responsive">Time picker dark</h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body ">
        <mdb-time-picker #darkPicker [twelvehour]="false" [darktheme]="true" [placeholder]="'Selected time'" [label]="'Dark version, 24hours'"></mdb-time-picker>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
  <!--Grid column-->
</div>

<div class="row mt-3">
  <!--Grid column-->
  <div class="col-lg-12 col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h4 class="h4-responsive">Inputs</h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body ">
        <div class="row">
          <div class="col-md-6">

            <div class="card">
              <div class="card-body">
                <h4 class="h4-responsive">Progress bars:</h4>
                <mdb-progressbar value="25" min="0" max="100" type="success" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></mdb-progressbar>
                <mdb-progressbar value="50" min="0" max="100" type="info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></mdb-progressbar>
                <mdb-progressbar value="75" min="0" max="100" type="warning" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></mdb-progressbar>
                <mdb-progressbar value="100" min="0" max="100" type="danger" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></mdb-progressbar>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h4 class="h4-responsive">Preloaders:</h4>
                <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h4 class="h4-responsive">Loading circle:</h4>
                <!--Big blue-->
                <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>

                <!--Medium red-->
                <mdb-spinner spinnerColor="red"></mdb-spinner>

                <!--Small yellow-->
                <mdb-spinner spinnerType="small" spinnerColor="yellow"></mdb-spinner>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h4 class="h4-responsive">Multicolor::</h4>
                <mdb-spinner spinnerType="big"></mdb-spinner>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h4 class="h4-responsive">Range picker:</h4>
                <div class="row">
                  <div class="col-md-12">
                    <form class="range-field">
                      <div class="track">
                        <div class="range-cloud" title="range" [ngClass]="{'visible': this.visibility, 'hidden': !this.visibility}" [ngStyle]="{'left': range + '%'}">
                          <span class="text-transform">{{range}}</span>
                        </div>
                      </div>
                      <input name="range" type="range" min="0" max="100" (focus)="visibility = true" (blur)="visibility = false" [(ngModel)]="range"
                        (click)="coverage()">
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <form class="range-field">
                      <div class="track">
                        <div class="range-cloud" title="range" [ngClass]="{'visible': this.visibility, 'hidden': !this.visibility}" [ngStyle]="{'left': range + '%'}">
                          <span class="text-transform">{{range}}</span>
                        </div>
                      </div>
                      <input name="range" type="range" min="0" max="100" (focus)="visibility = true" (blur)="visibility = false" [(ngModel)]="range"
                        (click)="coverage()">
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <form class="range-field">
                      <div class="track">
                        <div class="range-cloud" title="range" [ngClass]="{'visible': this.visibility, 'hidden': !this.visibility}" [ngStyle]="{'left': range + '%'}">
                          <span class="text-transform">{{range}}</span>
                        </div>
                      </div>
                      <input name="range" type="range" min="0" max="100" (focus)="visibility = true" (blur)="visibility = false" [(ngModel)]="range"
                        (click)="coverage()">
                    </form>
                  </div>
                </div>



              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h4 class="h4-responsive">Autocomplete:</h4>

                <div class="md-form">
                  <mdb-completer [label]="'What is your favorite US state?'" name="autocomplete" [(ngModel)]="state" [datasource]="states"
                    [minSearchLength]="0"></mdb-completer>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h4 class="h4-responsive">File input:</h4>
                <form>
                  <div class="file-field">
                    <div class="btn btn-primary btn-sm waves-light" mdbRippleRadius>
                      <span>Choose file</span>
                      <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
                    </div>
                  </div>
                </form>
                <br> OR
                <br>
                <div class="card text-center align-middle" mdbFileDrop (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"
                  [ngClass]="{ 'is-drop-over': dragOver }">
                  <div class="card-body">
                    <p>Drag & Drop files here</p>

                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h4 class="h4-responsive">Textarea:</h4>

                <!--Basic textarea-->
                <div class="md-form">
                  <textarea mdbActive type="text" id="form7" class="md-textarea">{{showFiles()}}</textarea>
                  <label for="form7">Basic textarea</label>
                </div>

                <!--Textarea with icon prefix-->
                <div class="md-form">
                  <i class="fa fa-pencil prefix"></i>
                  <textarea mdbActive type="text" id="form8" class="md-textarea"></textarea>
                  <label for="form8">Icon Prefix</label>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h4 class="h4-responsive mb-2">Char counters:</h4>
                <div class="md-form">
                  <input id="input_text" type="text" length="10" mdbCharCounter mdbActive>
                  <label for="input_text">Input text</label>
                </div>

                <div class="md-form">
                  <textarea class="md-textarea" id="input_text" type="text" length="120" mdbCharCounter mdbActive></textarea>
                  <label for="input_text">Type your text</label>
                </div>
              </div>
            </div>







          </div>
        </div>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
  <!--Grid column-->
</div>

<div class="row justify-content-center">
  <div class="col-md-10">
    <!--Section: Docs link-->
    <section class="pb-4 pt-5">
      <panel header="Full documentation" color="primary-color">
        <p class="card-text">Read the full documentation for these components.</p>
        <a href="https://mdbootstrap.com/angular/components/inputs/" target="_blank" class="btn btn-primary waves-effect waves-light">Learn more</a>
      </panel>
    </section>
    <!--/.Section: Docs link-->
  </div>
</div>