<div id="home" class="view intro hm-black-light" style="background-image: url(/assets/img/cmrbg.jpg); background-attachment: fixed; height: 1000px;">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row smooth-scroll">
                <div class="col-md-12 white-text text-center">
                    <div class="wow fadeInDown" data-wow-delay="0.2s">
                        <h2 class="display-4 font-bold font-up mb-2 spacing rgba-black-light px-4 py-3"><strong>Compare Mortgage Rates</strong></h2>
                        <h4 class="subtext-header rgba-black-light mt-4 mb-5">Compare rates from verified expert loan officers in your hometown</h4>
                    </div>
                    <a href="#compare" data-offset="100" class="btn btn-white btn-rounded font-bold dark-grey-text wow fadeInUp" data-wow-delay="0.2s">Compare</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="featured">
    <app-featured></app-featured>    
</section>

<section id="compare">
    <app-compare></app-compare>
</section>

<app-facts></app-facts>

<section id="contact">
    <app-contact></app-contact>
</section>

<app-footer></app-footer>
