<div class="row mt-5">
  <div class="col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower mt-5">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h4 class="h4-responsive">Validations </h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <h4 class="h4-responsive">Error & Success messages </h4>


        <div class="row justify-content-center">
          <div class="col-md-6 text-center">

            <form class="form-inline mt-3">

              <div class="md-form form-group">
                <i class="fa fa-envelope prefix"></i>
                <input mdbActive type="email" class="form-control" id="form9" name="email" mdbInputValidate>
                <label class="active" for="form9">Type your e-mail</label>
              </div>
              <div class="md-form form-group">
                <i class="fa fa-lock prefix"></i>
                <input mdbActive type="password" class="form-control" id="form10" name="password" mdbInputValidate>
                <label class="active" for="form10">Type your password</label>
              </div>

              <div class="md-form form-group">
                <a class="btn btn-primary btn-lg waves-light" mdbRippleRadius>Login</a>
              </div>

            </form>

          </div>
        </div>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-10">
    <!--Section: Docs link-->
    <section class="pb-4 pt-5">
      <panel header="Full documentation" color="primary-color">
        <p class="card-text">Read the full documentation for these components.</p>
        <a href="https://mdbootstrap.com/angular/components/forms/" target="_blank" class="btn btn-primary waves-effect waves-light">Learn more</a>
      </panel>
    </section>
    <!--/.Section: Docs link-->
  </div>
</div>