<div class="row">
  <!--Grid column-->
  <div class="col-lg-4 col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h4 class="h4-responsive">Stacked</h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body ">
        <!-- Login form -->
        <form>

          <div class="md-form">
            <input type="email" id="defaultForm-email" class="form-control" mdbActive mdbInputValidate>
            <label for="defaultForm-email">Your email</label>
          </div>

          <div class="md-form">
            <input type="password" id="defaultForm-pass" class="form-control" mdbActive>
            <label for="defaultForm-pass">Your password</label>
          </div>

          <div class="text-center">
            <button class="btn btn-default waves-light" mdbRippleRadius>Login</button>
          </div>
        </form>
        <!-- Login form -->
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
  <!--Grid column-->
  <!--Grid column-->
  <div class="col-lg-4 col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h4 class="h4-responsive">With icons</h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body ">
        <!-- Login form -->
        <form>

          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="text" id="defaultForm-email" class="form-control" mdbActive>
            <label for="defaultForm-email">Your email</label>
          </div>

          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="defaultForm-pass" class="form-control" mdbActive>
            <label for="defaultForm-pass">Your password</label>
          </div>

          <div class="text-center">
            <button class="btn btn-default waves-light" mdbRippleRadius>Login</button>
          </div>
        </form>
        <!-- Login form -->
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
  <!--Grid column-->
  <!--Grid column-->
  <div class="col-lg-4 col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h4 class="h4-responsive">Aligned</h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body ">
        <!-- Login form -->
        <form>
          <div class="form-group row d-flex">
            <p class="label col-md-4 pt-2">First name</p>
            <div class="col-md-8">
              <input type="text" id="defaultForm-firstname" class="form-control pt-0" mdbActive>
            </div>
          </div>
          <div class="form-group row d-flex">
            <p class="label col-md-4 pt-2">Last name</p>
            <div class="col-md-8">
              <input type="text" id="defaultForm-lastname" class="form-control pt-0" mdbActive>
            </div>
          </div>
          <div class="form-group row d-flex">
            <p class="label col-md-4 pt-2">Email</p>
            <div class="col-md-8">
              <input type="email" id="defaultForm-email" class="form-control pt-0" mdbActive>
            </div>
          </div>
          <div class="form-group row d-flex">
            <p class="label col-md-4 pt-2">Password</p>
            <div class="col-md-8">
              <input type="password" id="defaultForm-pass" class="form-control pt-0" mdbActive>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-default waves-light" mdbRippleRadius>Register</button>
          </div>
        </form>
        <!-- Login form -->
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
  <!--Grid column-->
</div>

<div class="row mt-3">
  <!--Grid column-->
  <div class="col-lg-12 col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h4 class="h4-responsive">Inputs</h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body ">
        <table class="table">
          <tbody>
            <tr>
              <td>Basic</td>
              <td>
                <div class="md-form">
                  <input mdbActive type="text" id="form1" class="form-control">
                  <label for="form1" class="">Example label</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Small input</td>
              <td>
                <div class="md-form form-sm">
                  <input mdbActive type="text" id="form1" class="form-control">
                  <label for="form1" class="">Example label</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Icon prefixed</td>
              <td>
                <div class="md-form">
                  <i class="fa fa-envelope prefix"></i>
                  <input mdbActive type="text" id="form2" class="form-control">
                  <label for="form2">Example label</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Placeholder</td>
              <td>
                <div class="md-form">
                  <input placeholder="Placeholder" type="text" id="form58" class="form-control">
                  <label class="active" for="form58">Example label</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Prefilled</td>
              <td>
                <div class="md-form">
                  <input value="John Doe" type="text" id="form6" class="form-control" mdbActive>
                  <label class="active" for="form6">Example label</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Disabled</td>
              <td>
                <div class="md-form form-sm">
                  <input type="text" id="form11" class="form-control" disabled>
                  <label for="form11" class="disabled">Example label</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Checbkoxes</td>
              <td>
                <div class="form-group">
                  <input type="checkbox" id="checkbox1">
                  <label for="checkbox1">Classic checkbox</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="checkbox2" checked="checked">
                  <label for="checkbox2">Classic checkbox</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" class="filled-in" id="checkbox3">
                  <label for="checkbox3">Filled-in checkbox</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" class="filled-in" id="checkbox4" checked="checked">
                  <label for="checkbox4">Filled-in checkbox</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="checkbox5" disabled checked="checked">
                  <label for="checkbox5" class="disabled">Classic checkbox disabled</label>
                </div>

                <div class="form-group">
                  <input type="checkbox" class="filled-in" id="checkbox6" disabled checked="checked">
                  <label for="checkbox6" class="disabled">Filled-in checkbox disabled</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Inline</td>
              <td>
                <form class="form-inline">
                  <div class="form-group">
                    <input type="checkbox" id="checkbox11" checked="checked">
                    <label for="checkbox11">Classic checkbox</label>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" class="filled-in" id="checkbox22" checked="checked">
                    <label for="checkbox22">Filled-in checkbox</label>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" id="checkbox33" checked="checked">
                    <label for="checkbox33">Classic checkbox</label>
                  </div>
                </form>
              </td>
            </tr>
            <tr>
              <td>Radio</td>
              <td>
                <div class="form-group">
                  <input name="group1" type="radio" id="radio1" checked="checked">
                  <label for="radio1">Basic radio 1</label>
                </div>

                <div class="form-group">
                  <input name="group1" type="radio" id="radio2">
                  <label for="radio2">Basic radio 2</label>
                </div>

                <div class="form-group">
                  <input name="group1" type="radio" id="radio3">
                  <label for="radio3">Basic radio 3</label>
                </div>
                <div class="form-group">
                  <input name="group2" type="radio" class="with-gap" id="radio4" checked="checked">
                  <label for="radio4">Radio with gap 1</label>
                </div>

                <div class="form-group">
                  <input name="group2" type="radio" class="with-gap" id="radio5">
                  <label for="radio5">Radio with gap 2</label>
                </div>

                <div class="form-group">
                  <input name="group2" type="radio" class="with-gap" id="radio6">
                  <label for="radio6">Radio with gap 3</label>
                </div>

              </td>
            </tr>
            <tr>
              <td>Inline</td>
              <td>
                <form class="form-inline">
                  <div class="form-group">
                    <input name="group1" type="radio" id="radio11" checked="checked">
                    <label for="radio11">Option 1</label>
                  </div>

                  <div class="form-group">
                    <input name="group1" type="radio" id="radio21">
                    <label for="radio21">Option 2</label>
                  </div>

                  <div class="form-group">
                    <input name="group1" type="radio" id="radio31">
                    <label for="radio31">Option 3</label>
                  </div>
                </form>
              </td>
            </tr>
            <tr>
              <td>Switch</td>
              <td>
                <!-- Switch -->
                <div class="switch">
                  <label>
                    Off
                    <input type="checkbox">
                    <span class="lever"></span>
                    On
                  </label>
                </div>

                <!-- Disabled Switch -->
                <div class="switch">
                  <label>
                    Off
                    <input disabled type="checkbox">
                    <span class="lever"></span>
                    On
                  </label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
  <!--Grid column-->
</div>
<div class="row justify-content-center">
  <div class="col-md-10">
    <!--Section: Docs link-->
    <section class="pb-4 pt-5">
      <panel header="Full documentation" color="primary-color">
        <p class="card-text">Read the full documentation for these components.</p>
        <a href="https://mdbootstrap.com/angular/components/inputs/" target="_blank" class="btn btn-primary waves-effect waves-light">Learn more</a>
      </panel>
    </section>
    <!--/.Section: Docs link-->
  </div>
</div>
