<br>
<section class="section pb-3">
    <h2 class="section-heading h1 pt-4">Featured Loan Officers</h2>
    <p class="section-description">Here are the featured list of top rated loan officers</p>
    <div class="row">
        <div class="col-md-6 col-lg-3 mb-r">
            <mdb-card-rotating #cards1>
                <div class="face front tp-box_side tp-box_front">
                    <div class="card-up">
                        <img src="/assets/img/leafswithraindrops.jpg" class="img-fluid">
                    </div>
                    <div class="avatar"><img src="/assets/img/MariaKate.jpg" class="rounded-circle img-responsive">
                    </div>
                    <div class="card-body">
                        <h4>Maria Kate</h4>
                        <p>Guarenteed Rate</p>
                        <a class="rotate-btn" data-card="card-1" (click)="cards1.toggle()"><i class="fa fa-repeat"></i> Click here to rotate</a>
                    </div>
                </div>
                <div class="back tp-box_side tp-box_back">
                    <h4>About me</h4>
                    <hr>Loan Specialist
                    <p>Maria Kate has been successfull at Guarentee Rate for over five years. She can finance your loan today. Contact her today.</p>
                    <hr>
                    <ul class="inline-ul">
                        <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="icons-sm pin-ic"><i class="fa fa-pinterest"></i></a></li>
                        <li><a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a></li>
                        <li><a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                    <a class="rotate-btn" data-card="card-1" (click)="cards1.toggle()"><i class="fa fa-undo"></i> Click here to rotate back</a>
                </div>
            </mdb-card-rotating>
        </div>
        <div class="col-md-6 col-lg-3 mb-r">
            <mdb-card-rotating #cards2>
                <div class="face front tp-box_side tp-box_front">
                    <div class="card-up">
                        <img src="/assets/img/boatonlake.jpg" class="img-fluid">
                    </div>
                    <div class="avatar"><img src="/assets/img/AnnaDeynah.jpg" class="rounded-circle img-responsive">
                    </div>
                    <div class="card-body">
                        <h4>Anna Deynah</h4>
                        <p>Caliber Home Loans</p>
                        <a class="rotate-btn" data-card="card-1" (click)="cards2.toggle()"><i class="fa fa-repeat"></i> Click here to rotate</a>
                    </div>
                </div>
                <div class="back tp-box_side tp-box_back">
                    <h4>About me</h4>
                    <hr>Loan Specialist
                    <p>Ann Deynah has been with Caliber Home Loans for over four years. She is ready to get you started on your fanacing today. Contact her today.</p>
                    <hr>
                    <ul class="inline-ul">
                        <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="icons-sm dribbble-ic"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                    <a class="rotate-btn" data-card="card-1" (click)="cards2.toggle()"><i class="fa fa-undo"></i> Click here to rotate back</a>
                </div>
            </mdb-card-rotating>
        </div>
        <div class="col-md-6 col-lg-3 mb-r">
            <mdb-card-rotating #cards3>
                <div class="face front tp-box_side tp-box_front">
                    <div class="card-up">
                        <img src="/assets/img/redbeach.jpg" class="img-fluid">
                    </div>
                    <div class="avatar"><img src="/assets/img/JohnDoe.jpg" class="rounded-circle img-responsive">
                    </div>
                    <div class="card-body">
                        <h4>John Doe</h4>
                        <p>Freedom Mortgage Corporation</p>
                        <a class="rotate-btn" data-card="card-1" (click)="cards3.toggle()"><i class="fa fa-repeat"></i> Click here to rotate</a>
                    </div>
                </div>
                <div class="back tp-box_side tp-box_back">
                    <h4>About me</h4>
                    <hr>Loan Specialist
                    <p>John Doe has been at Freedom Mortage Corporation for over six years. He can secure your loan immediately. Contact him today.</p>
                    <hr>
                    <ul class="inline-ul">
                        <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="icons-sm git-ic"><i class="fa fa-github"></i></a></li>
                        <li><a class="icons-sm li-ic"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <a class="rotate-btn" data-card="card-1" (click)="cards3.toggle()"><i class="fa fa-undo"></i> Click here to rotate back</a>
                </div>
            </mdb-card-rotating>
        </div>
        <div class="col-md-6 col-lg-3 mb-r">
            <mdb-card-rotating #cards4>
                <div class="face front tp-box_side tp-box_front">
                    <div class="card-up">
                        <img src="/assets/img/snowscape.jpg" class="img-fluid">
                    </div>
                    <div class="avatar"><img src="/assets/img/SteveAustin.jpg" class="rounded-circle img-responsive">
                    </div>
                    <div class="card-body">
                        <h4>Steve Austin</h4>
                        <p>Embrace Home Loans</p>
                        <a class="rotate-btn" data-card="card-1" (click)="cards4.toggle()"><i class="fa fa-repeat"></i> Click here to rotate</a>
                    </div>
                </div>
                <div class="back tp-box_side tp-box_back">
                    <h4>About me</h4>
                    <hr>Loan Specialist
                    <p>Steve Austin has been at Embrace Home Loans for over seven years. He can secure your loan immediately. Contact him today.</p>
                    <hr>
                    <ul class="inline-ul">
                        <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="icons-sm git-ic"><i class="fa fa-github"></i></a></li>
                        <li><a class="icons-sm li-ic"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <a class="rotate-btn" data-card="card-1" (click)="cards4.toggle()"><i class="fa fa-undo"></i> Click here to rotate back</a>
                </div>
            </mdb-card-rotating>
        </div>        
    </div>
</section>
